<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu"/>
</block>

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>
            新增
        </h2>
    </div>
    <!-- 标签页导航 -->
    <div class="tab-wrap">

        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('staff/staff_edit')}" method="post" class="form-horizontal">
                <!-- 基础文档模型 -->
                <div class="form-item">
                    <label class="item-label">员工名称<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="hidden" name="id" value="{$list.id}">
                        <input type="text" class="text input-large"  name="admin_user"  value="{$list.admin_user}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">密码<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="password" class="text input-large" name="admin_pwd"  value="{$list.admin_pwd}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">分类<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="type"  value="{$list.type}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">手机号<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="c_phone"  value="{$list.c_phone}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">工号<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="job_number"  value="{$list.job_number}">
                    </div>
                </div>
                <div class="form-item cf">
                    <button class="btn submit-btn ajax-post hidden" id="submit" type="submit"
                            target-form="form-horizontal">确 定
                    </button>
                    <button class="btn btn-return"  onlick="history.back()">返 回</button>
                </div>
            </form>
        </div>
    </div>
</block>

<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '
        <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">
        ';
    </php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"
            charset="UTF-8"></script>
    <script type="text/javascript">

        $('#submit').click(function () {
            $('#form').submit();
        });

    </script>
</block>
