<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>钩子列表</h2>
    </div>
    <div class="cf">
        <a class="btn" href="#">新 增</a>
        <a class="btn" href="{:U('overtme')}">加 班</a>
        <a class="btn" href="{:U('offtime')}">调 休</a>
        <a class="btn" href="{:U('leave')}">请 假</a>
        <a class="btn" href="{:U('travel')}">出 差</a>
        <a class="btn" href="{:U('pay')}">发 薪</a>
    </div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
            <tr>
                <th>姓名</th>
                <th>转正时间</th>
                <th>离职时间</th>
                <th>入职时间</th>
                <th>职位状态</th>
                <th>部门</th>
                <th>薪资统计</th>
                <th>基本薪资</th>
                <th>岗位津贴</th>
                <th>全勤</th>
                <th>绩效基数</th>
                <th>日新</th>
                <th>应出勤天数</th>
                <th>实际出勤天数</th>
                <th>加班天数</th>
                <th>请假类型</th>
                <th>计薪天数</th>
                <th>扣款类型</th>
                <th>出勤薪资</th>
                <th>绩效系数</th>
                <th>应发绩效</th>
                <th>提成</th>
                <th>奖金</th>
                <th>额外津贴</th>
                <th>加班次数</th>
                <th>餐补</th>
                <th>共计</th>
                <th>社保</th>
                <th>公积金</th>
                <th>服务费</th>
                <th>备注</th>
                <th>应发薪资</th>
                <th>已发薪资</th>
                <th>未发薪资</th>
                <th>备注 </th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td><a href="{:U('edithook?id='.$vo['id'])}">{$vo.name}</a></td>
                    <td>转正时间</td>
                    <td>离职时间</td>
                    <td>入职时间</td>
                    <td>职位状态</td>
                    <td>部门</td>
                    <td>薪资统计</td>
                    <td>基本薪资</td>
                    <td>岗位津贴</td>
                    <td>全勤</td>
                    <td>绩效基数</td>
                    <td>日新</td>
                    <td>应出勤天数</td>
                    <td>实际出勤天数</td>
                    <td>加班天数</td>
                    <td>请假类型</td>
                    <td>计薪天数</td>
                    <td>扣款类型</td>
                    <td>出勤薪资</td>
                    <td>绩效系数</td>
                    <td>应发绩效</td>
                    <td>提成</td>
                    <td>奖金</td>
                    <td>额外津贴</td>
                    <td>加班次数</td>
                    <td>餐补</td>
                    <td>共计</td>
                    <td>社保</td>
                    <td>公积金</td>
                    <td>服务费</td>
                    <td>备注</td>
                    <td>应发薪资</td>
                    <td>已发薪资</td>
                    <td>未发薪资</td>
                    <td>备注 </td>
                    <td>
                        <a title="编辑" href="{:U('edithook?id='.$vo['id'])}">编辑</a>
                        <a class="confirm ajax-get" title="删除" href="{:U('delhook?id='.$vo['id'])}">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function(){

        })
    </script>
</block>